[Unit]
Description=Speedtest Service

[Service]
Type=oneshot
ExecStart=/usr/bin/env python3 /srv/isp-monitor/speedtest.py
WorkingDirectory=/srv/isp-monitor

[Install]
WantedBy=multi-user.target
